html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

html {
    background: -webkit-radial-gradient(circle, #ffffff, #EFEFEF);
}

#renderer {
    position: absolute;
    left: 0; top: 0;
}
